WebService-Web/src/main/webapp/wsdl/MonServiceimpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.webservice.atod26.afcepf.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.webservice.atod26.afcepf.fr" xmlns:intf="http://impl.webservice.atod26.afcepf.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://impl.webservice.atod26.afcepf.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add">
    <complexType>
     <sequence>
      <element name="premier" type="xsd:int"/>
      <element name="deuxieme" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="puissance">
    <complexType>
     <sequence>
      <element name="premier" type="xsd:int"/>
      <element name="deuxieme" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="puissanceResponse">
    <complexType>
     <sequence>
      <element name="puissanceReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="puissanceRequest">

      <wsdl:part element="impl:puissance" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="puissanceResponse">

      <wsdl:part element="impl:puissanceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="MonServiceimpl">

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="puissance">

         <wsdl:input message="impl:puissanceRequest" name="puissanceRequest">

       </wsdl:input>

         <wsdl:output message="impl:puissanceResponse" name="puissanceResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MonServiceimplSoapBinding" type="impl:MonServiceimpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="puissance">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="puissanceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="puissanceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MonServiceimplService">

      <wsdl:port binding="impl:MonServiceimplSoapBinding" name="MonServiceimpl">

         <wsdlsoap:address location="http://localhost:8080/WebService-Web/services/MonServiceimpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
